// @import "node_modules/primeng/resources/themes/lara-dark-blue/theme.css";
@use "@angular/material" as mat;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

//pichones
@font-face {
  font-family: "Libre Caslon";
  src: url("../fonts/pichones/libre_caslon/libre_caslon_regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "High Spirited";
  src: url("../fonts/pichones/high_spirited/high_spirited.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/pichones/montserrat/montserrat.ttf") format("truetype");
}

$light-pichones-background: #f7f7f7;
$light-pichones-border-color: #fafafa;
$light-pichones-border-color-light-blue: #aec3f2;
$light-pichones-text-blue: #152b5c;
$light-pichones-text-blue-light: #4e6494;
$light-pichones-text-white: #ffffff;
$light-pichones-text-gray: #727377;
$light-pichones-text-gray-2: #bbbbbb;
$light-pichones-text-black: #000000;
$light-pichones-text-red: #833232;

//fonts
$font-weight: 400;
$font-libre-caslon: "Libre Caslon";
$font-monserrat: "Montserrat";
$font-high-sprited: "High Spirited";

//width
$w-xsmall: 134.5px;
$w-small: 157.5px;
$w-lsmall: 279px;
$w-base: 327px;

//height
$h-base: 48px;

$breakpoints: (
  xs: 0px,
  sm: 430px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

//dialogs

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.8) !important;
}

.mat-mdc-dialog-surface {
  background-color: $light-pichones-background !important;
}

// .cdk-overlay-pane.mat-mdc-dialog-panel

.custom-heading-sprited {
  margin-right: 50px;
  margin-bottom: -16px;
}

.custom-heading-caslon {
  margin-left: 61px;
}

.font-weight {
  &--400 {
    font-weight: 400;
  }

  &--600 {
    font-weight: 600;
  }

  &--700 {
    font-weight: 700;
  }
}

.font-fam {
  &--caslon {
    font-family: "Libre Caslon";
  }

  &--sprited {
    font-family: "High Spirited";
  }

  &--monserrat {
    font-family: "Montserrat";
  }
}

.font-color {
  &--light-blue {
    color: $light-pichones-text-blue-light;
  }

  &--blue {
    color: $light-pichones-text-blue;
  }

  &--white {
    color: $light-pichones-text-white;
  }

  &--black {
    color: $light-pichones-text-black;
  }

  &--red {
    color: $light-pichones-text-red !important;
  }
}

.font-size {
  &--xsmall {
    font-size: 12px;
  }

  &--small {
    font-size: 14px;
  }

  &--lxsmall {
    font-size: 15px;
  }

  &--lsmall {
    font-size: 16px;
  }

  &--normal {
    font-size: 18px;
  }

  &--large {
    font-size: 20px;
  }

  &--mlarge {
    font-size: 24px;
  }

  &--m2large {
    font-size: 32px;
  }

  &--xlarge {
    font-size: 50px;
  }
}

.w {
  &-xsmall {
    width: $w-xsmall !important;
  }

  &-small {
    width: $w-small !important;
  }

  &-lsmall {
    width: $w-lsmall !important;
  }

  &-base {
    width: $w-base !important;
  }
}

.h-base {
  height: $h-base;
}

.p-button {
  background: transparent !important;
  background-color: transparent !important;
  border-radius: 4px;
  font-family: $font-libre-caslon;
  font-weight: $font-weight;
  font-size: 14px;
  // width: $w-base;
  // display: inline-block;
  border: unset !important;
  text-align: center;

  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  text-decoration: none;

  img {
    width: 20px;
    height: 20px;
  }

  span {
    display: flex;
    align-items: center;
  }

  .p-button-label {
    padding: 0 10px;
    display: inline-block;
  }
}

// button:focus {
//   outline: none !important;
//   border-color: inherit !important;
// }

.btn {
  &--outline-blue {
    border: 1px solid $light-pichones-text-blue !important;
  }

  &--outline-white {
    border: 1px solid $light-pichones-border-color !important;
  }

  &--bg-blue {
    border: 1px solid $light-pichones-text-blue !important;
    background-color: $light-pichones-text-blue !important;
  }

  &--bg-light--blue {
    border: 1px solid $light-pichones-text-blue-light !important;
    background-color: $light-pichones-text-blue-light !important;
  }
}

.c-height {
  &--mid {
    height: 50vh;
  }

  &--full {
    height: 100vh;
  }
}

body.pichones {
  background-color: $light-pichones-background;
}

app-detalles {
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: $font-monserrat;
    color: $light-pichones-text-blue-light;
    font-size: 14px;
    margin-bottom: 1pc;
  }

  .p-panel {
    border: 1px solid $light-pichones-border-color-light-blue !important;
    background: transparent !important;

    .p-component {
      width: 100%;
    }

    .p-panel-header {
      display: none;
    }

    .p-panel-content {
      border: 1px solid;
      border-radius: 4px;
      padding-top: 0px;
      border-color: $light-pichones-border-color-light-blue;
    }
  }
}

// material components

.p-multiselect {
  width: $w-base;
  background: $light-pichones-text-white !important;
  color: $light-pichones-text-blue;

  .p-multiselect-header {
    color: $light-pichones-text-blue;
  }

  .p-multiselect-label {
    color: $light-pichones-text-blue;
  }

  .p-multiselect-overlay {
    background: $light-pichones-text-white !important;
  }

  .p-multiselect-option {
    color: $light-pichones-text-blue;
    font-family: $font-monserrat;

    .p-checkbox-box {
      background: $light-pichones-text-white !important;
      border-color: $light-pichones-text-gray-2;
    }
  }

  //selected
  .p-multiselect-option {
    color: $light-pichones-text-blue;
    font-family: $font-monserrat;

    .p-checkbox-box {
      border: 1px solid $light-pichones-text-blue-light !important;
    }

    .p-highlight {
      .p-checkbox-box {
        border: 10px solid $light-pichones-text-blue-light !important;
      }
    }

    .p-checkbox-icon {
      color: $light-pichones-text-white !important;
      background: $light-pichones-text-blue-light !important;
    }
  }

  .p-multiselect-option:not(.p-multiselect-option-selected):not(
      .p-disabled
    ).p-focus {
    background: $light-pichones-text-white !important;
    color: $light-pichones-text-blue;
  }

  .p-checkbox-checked:not(.p-disabled):has(.p-checkbox-input:hover)
    .p-checkbox-box {
    background: $light-pichones-text-white !important;
    border-color: $light-pichones-text-gray-2;
  }

  .p-multiselect-header.ng-star-inserted {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  //scrollbar styles

  .p-multiselect-list-container::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de scroll */
  }

  .p-multiselect-list-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo del track */
    border-radius: 10px; /* Bordes redondeados */
  }

  .p-multiselect-list-container::-webkit-scrollbar-thumb {
    background: #888; /* Color del thumb (la barra) */
    border-radius: 10px;
  }

  .p-multiselect-list-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del thumb al pasar el mouse */
  }
}

.p-multiselect:not(.p-disabled).p-focus {
  border-color: transparent !important;
}

.p-galleria {
  border: 0px !important;
}

a,
a:visited {
  text-decoration: none !important;
}

@each $size, $value in $breakpoints {
  @media (min-width: $value) {
    .#{$size}\:w-xsmall {
      width: $w-xsmall !important;
    }
    .#{$size}\:w-small {
      width: $w-small !important;
    }
    .#{$size}\:w-lsmall {
      width: $w-lsmall !important;
    }
    .#{$size}\:w-base {
      width: $w-base !important;
    }
  }
}