@import "node_modules/primeng/resources/themes/lara-dark-blue/theme.css";

//pichones
@font-face {
  font-family: "Libre Caslon";
  src: url("../fonts/pichones/libre_caslon/libre_caslon_regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "High Spirited";
  src: url("../fonts/pichones/high_spirited/high_spirited.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/pichones/montserrat/montserrat.ttf") format("truetype");
}

$light-pichones-background: #f7f7f7;
$light-pichones-border-color: #fafafa;
$light-pichones-border-color-blue: #aec3f2;
$light-pichones-text-blue: #152b5c;
$light-pichones-text-blue-light: #4e6494;
$light-pichones-text-white: #ffffff;

//fonts
$font-weight: 400;
$font-libre-caslon: "Libre Caslon";
$font-monserrat: "Montserrat";
$font-high-sprited: "High Spirited";

body.pichones {
  background-color: $light-pichones-background;
}

.p-button {
  background-color: transparent !important;
  border-color: $light-pichones-border-color;
  border-radius: 4px;
  font-family: $font-libre-caslon;
  font-weight: $font-weight;
  font-size: 14px;
  .p-button-label {
    padding: 0 10px;
  }
}

app-header {
  span {
    color: $light-pichones-text-white;
    font-family: $font-libre-caslon;
    font-weight: $font-weight;
    font-size: 14px;
  }

  h2 {
    font-family: $font-high-sprited;
    color: $light-pichones-text-white;
    font-weight: $font-weight;
    font-size: 50px;
  }
}

app-detalles {
  .p-panel {
    .p-component {
      width: 100%;
    }

    .p-panel-header {
      font-family: $font-libre-caslon;
      color: $light-pichones-text-blue;
      font-weight: $font-weight;
      font-size: 18px;
      background: transparent;
      border-bottom: none;
      padding-bottom: 12px;
      border-color: $light-pichones-border-color-blue;
    }

    .p-panel-content {
      padding-top: 0px;
      font-family: $font-monserrat;
      color: $light-pichones-text-blue-light;
      font-weight: $font-weight;
      font-size: 14px;
      background: transparent;
      border-color: $light-pichones-border-color-blue;
    }
  }
}
