<div class="container" [ngClass]="active ? 'c-height--full' : 'c-height--mid'">
  <div class="row py-5">
    <div class="col-12 text-center my-5">
      <h2
        class="font-color--blue font-size--small font-fam--caslon font-weight--400"
      >
        ¿NOS ACOMPAÑARAS?
      </h2>

      <span
        class="font-color--light-blue font-size--small font-fam--monserrat font-weight--400"
        >Favor confirmar tu asistencia antes del
        <b class="font-weight--600">17 de febrero.</b></span
      >
    </div>

    <div class="col-12 my-5 text-center">
      <button (click)="confirm()" class="p-button btn--outline-blue">
        <span
          class="font-color--blue font-size--small font-fam--caslon font-weight--400"
          >Confirmar asistencia</span
        >
      </button>
    </div>
  </div>

  <!-- form  -->
  <div class="row text-center">
    <div class="col-12">
      <span
        class="font-color--blue font-size--small font-fam--caslon font-weight--400"
        >NUESTRA BODA</span
      >
    </div>
    <div class="col-12">
      <h2
        class="my-2 font-color--blue font-size--xlarge font-fam--sprited font-weight--400"
      >
        Paola & Jonathan
      </h2>
    </div>

    <div class="col-12">
      <span
        class="font-color--blue font-size--small font-fam--caslon font-weight--400"
        >01・MAR・2025</span
      >
    </div>

    <div class="col-12 mt-5">
      <span
        class="font-color--blue font-size--small font-fam--caslon font-weight--400 text-center"
        >Tu nombre:</span
      >
      <p
        class="font-color--blue font-size--small font-fam--caslon font-weight--400 text-center"
      >
        {{ username }}
      </p>
    </div>
  </div>

  <div class="col-12">
    <span
      class="font-color--light-blue font-size--small font-fam--monserrat font-weight--400 text-start"
    >
      ¿Quienes asistirán?
    </span>
    <mat-form-field class="w-100">
      <mat-label>Selecciona los asistentes</mat-label>
      <mat-select multiple>
        <mat-option
          *ngFor="let relacionado of relacionados"
          [value]="relacionado.invitado"
          >{{ relacionado.username }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <!-- <p-select optionLabel="name" placeholder="Select a City" class="w-full md:w-56" /> -->
  </div>

  <div class="col-12 text-center">
    <button class="mt-5 mb-3 p-button btn--bg-blue btn--outline-blue">
      <span class="font-color--white">Confirmar Asistencia</span>
    </button>
  </div>

  <div class="col-12 text-center">
    <button class="mt-5 mb-3 p-button btn--outline-blue">
      <span class="font-color--blue">No asistiré</span>
    </button>
  </div>
</div>
<div id="bottom"></div>
