<div class="d-flex flex-column">
  <div class="mt-4">
    <div class="container">
      <div class="row">
        <div class="col-12 my-5 text-center">
          <span
            class="m-0 font-color--blue font-size--small font-fam--caslon font-weight--400"
            >¡El gran día se acerca!</span
          >

          <div
            class="d-flex flex-row justify-content-center align-items-center"
          >
            <div class="d-flex flex-column w-25">
              <span
                class="font-color--blue font-size--m2large font-fam--caslon font-weight--400 custom-heading-caslon mx-0"
                >{{ remainingTime[0] }}</span
              >
              <span>Días</span>
            </div>
            <div class="d-flex flex-column w-25">
              <span
                class="font-color--blue font-size--m2large font-fam--caslon font-weight--400 custom-heading-caslon mx-0"
                >{{ remainingTime[1] }}</span
              >
              <span>Horas</span>
            </div>
            <div class="d-flex flex-column w-25">
              <span
                class="font-color--blue font-size--m2large font-fam--caslon font-weight--400 custom-heading-caslon mx-0"
                >{{ remainingTime[2] }}</span
              >
              <span>Minutos</span>
            </div>
          </div>
        </div>
        <div class="col-12 my-2">
          <div class="col-12 text-center">
            <h2
              class="font-color--blue font-size--xlarge font-fam--sprited font-weight--400 custom-heading-sprited"
            >
              Escribiendo una
            </h2>

            <h2
              class="font-color--blue font-size--large font-fam--caslon font-weight--400 custom-heading-caslon"
            >
              HISTORIA
            </h2>
          </div>
        </div>
        <div class="col-12 my-2">
          <p-panel>
            <h2
              class="mt-3 font-color--blue font-size--small font-fam--caslon font-weight--400"
            >
              El FLECHAZO
            </h2>
            <p
              class="m-0 font-color--light-blue font-size--small font-fam--monserrat font-weight--400"
            >
              Todo comenzó en 2014, en un salón de clases, entre miradas y
              sonrisas tímidas. Al principio, inicio como un romance de colegio,
              pero después de un año, decidimos oficializar nuestro noviazgo con
              el permiso de nuestros padres.
            </p>
          </p-panel>
        </div>
        <div class="col-12 my-2">
          <p-panel>
            <h2
              class="mt-3 font-color--blue font-size--small font-fam--caslon font-weight--400"
            >
              EL CAMINO
            </h2>
            <p
              class="m-0 font-color--light-blue font-size--small font-fam--monserrat font-weight--400"
            >
              Con el tiempo, nuestro amor, al igual que nosotros fue madurando.
              Juntos enfrentamos los altibajos de crecer, compartiendo los
              desafíos como las alegrías. Los 10 años que hemos estado juntos
              han sido como días.
            </p>
          </p-panel>
        </div>
        <div class="col-12 my-2">
          <p-panel>
            <h2
              class="mt-3 font-color--blue font-size--small font-fam--caslon font-weight--400"
            >
              UN COMPROMISO
            </h2>
            <p
              class="m-0 font-color--light-blue font-size--small font-fam--monserrat font-weight--400"
            >
              Todo lo que soñábamos cuando éramos apenas adolescentes ahora es
              realidad. El 10 de noviembre de 2023, dimos un paso más a nuestra
              relación y nos comprometimos.
            </p>
          </p-panel>
        </div>
      </div>
    </div>
  </div>

  <div class="galleria mt-4">
    <div class="container">
      <div class="d-flex justify-content-center">
        <p-galleria
          [value]="images"
          [responsiveOptions]="responsiveOptions"
          [transitionInterval]="3000"
          [circular]="true"
          [autoPlay]="true"
          [showItemNavigators]="false"
          [showThumbnails]="false"
          [containerStyle]="{ 'max-width': '640px' }"
          [numVisible]="5"
        >
          <ng-template pTemplate="item" let-item>
            <img
              [src]="item.itemImageSrc"
              style="width: 100%; object-fit: cover"
            />
          </ng-template>
        </p-galleria>
      </div>
    </div>
  </div>

  <div class="mt-4 detalles">
    <div class="container text-center">
      <div class="col-12 my-3">
        <img
          src="../../../../../../assets/images/pichones/detalles/icons/rings.svg"
          alt=""
        />
      </div>
      <h2
        class="font-color--blue font-size--small font-fam--caslon font-weight--400"
      >
        Estas invitado a nuestra boda
      </h2>
      <span
        class="font-color--light-blue font-size--small font-fam--monserrat font-weight--400"
        >Comenzamos un nuevo capitulo en nuestra vida y queremos que seas parte
        de el.</span
      >
    </div>

    <div class="container text-center mt-5">
      <div class="col-12 text-center">
        <h2
          class="font-color--blue font-size--xlarge font-fam--sprited font-weight--400 custom-heading-sprited"
        >
          Detalles de
        </h2>
        <h2
          class="font-color--blue font-size--large font-fam--caslon font-weight--400 custom-heading-caslon"
        >
          LA BODA
        </h2>
      </div>
      <div class="col-12 my-3">
        <img
          src="../../../../../../assets/images/pichones/detalles/icons/church.svg"
          alt=""
          class=""
        />
      </div>
      <h2
        class="font-color--blue font-size--small font-fam--caslon font-weight--400"
      >
        LUGAR:
      </h2>
      <h2
        class="font-color--blue font-size--mlarge font-fam--caslon font-weight--400"
      >
        Terraza Zentra
      </h2>
      <h2
        class="font-color--blue font-size--small font-fam--caslon font-weight--400"
      >
        4:30 PM | 01 Marzo 2025
      </h2>
      <h2
        class="font-color--blue font-size--small font-fam--caslon font-weight--400 mt-4"
      >
        ¿Cómo llegar?
      </h2>
      <span
        class="font-color--light-blue font-size--small font-fam--monserrat font-weight--400"
        >87 Avenida Norte & Calle del mirador. Parquearse en Plaza Futura</span
      >

      <div class="col-12">
        <div class="d-flex justify-content-center">
          <a
            href="https://maps.app.goo.gl/mG5WW3WNVJALwcXDA"
            class="p-button btn--outline-blue h-base w-base"
            target="_blank"
          >
            <img
              src="../../../../../../assets/images/pichones/detalles/social/maps.svg"
              alt="button-image"
            />
            <span
              class="font-color--blue font-size--small font-fam--caslon font-weight--400"
              >Ver en Waze</span
            >
          </a>
        </div>
      </div>

      <div class="col-12 mt-4">
        <div class="d-flex justify-content-center">
          <a
            href="https://waze.com/ul/hd42tcr8e6"
            class="p-button btn--outline-blue h-base w-base"
            target="_blank"
          >
            <img
              src="../../../../../../assets/images/pichones/detalles/social/waze.svg"
              alt="button-image"
            />
            <span
              class="font-color--blue font-size--small font-fam--caslon font-weight--400"
              >Ver en Waze</span
            >
          </a>
        </div>
      </div>
    </div>

    <div class="container dresscode text-center mt-5">
      <div class="head mb-5">
        <div class="row">
          <div class="col-12 my-3">
            <img
              src="../../../../../../assets/images/pichones/detalles/icons/shoes.svg"
              alt=""
            />
          </div>
          <div class="col-12">
            <h2
              class="font-color--blue font-size--small font-fam--caslon font-weight--400"
            >
              DRESS CODE:
            </h2>
          </div>
          <div class="col-12">
            <h2
              class="font-color--blue font-size--mlarge font-fam--caslon font-weight--400"
            >
              Coctel de noche
            </h2>
          </div>
        </div>
      </div>

      <div class="caballeros">
        <div class="row">
          <div class="col-12">
            <h2
              class="font-color--blue font-size--lxsmall font-fam--caslon font-weight--400"
            >
              Hombres:
            </h2>
          </div>
          <div class="col-12">
            <span
              class="font-color--light-blue font-size--small font-fam--monserrat font-weight--400"
              >Camisa y pantalón formal, zapatos de vestir o casuales. opcional:
              saco, corbata o blazer.</span
            >
          </div>
          <div class="col-12">
            <span
              class="font-color--light-blue font-size--small font-fam--monserrat font-weight--400"
              ><br /><b>No Usar:</b> Color negro y azul marino en saco o blazer.
              Tenis deportivos, jeans y camisetas.</span
            >
          </div>

          <div class="col-12 mt-4">
            <div class="d-flex justify-content-center">
              <a
                href="https://www.pinterest.com/alealas05/dress-code-hombres-boda-garcia-sanchez/?invite_code=63483bc05d4d4d9b8579ba2856f10f81&sender=580190501903296794"
                class="p-button btn--outline-blue h-base w-base"
                target="_blank"
              >
                <img
                  src="../../../../../../assets/images/pichones/detalles/social/pinterest.svg"
                  alt="button-image"
                />
                <span
                  class="font-color--blue font-size--small font-fam--caslon font-weight--400"
                  >Ver sugerencias</span
                >
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="damas mt-4">
        <div class="row">
          <div class="col-12">
            <h2
              class="font-color--blue font-size--lxsmall font-fam--caslon font-weight--400"
            >
              Mujeres:
            </h2>
          </div>
          <div class="col-12">
            <span
              class="font-color--light-blue font-size--small font-fam--monserrat font-weight--400"
              >Vestido Largo o Midi, Conjuntos de falda y blusa Zapato abierto o
              cerrado.</span
            >
          </div>
          <div class="col-12">
            <span
              class="font-color--light-blue font-size--small font-fam--monserrat font-weight--400"
            >
              <br /><b>No Usar:</b> Color negro, azul marino, blanco, beige y
              sus derivados.</span
            >
          </div>

          <div class="col-12 mt-4">
            <div class="d-flex justify-content-center">
              <a
                href="https://www.pinterest.com/alealas05/dress-code-mujeres-boda-garcia-sanchez/?invite_code=912eea298c614648b34615fdb9af08f7&sender=580190501903296794"
                class="p-button btn--outline-blue h-base w-base"
                target="_blank"
              >
                <img
                  src="../../../../../../assets/images/pichones/detalles/social/pinterest.svg"
                  alt="button-image"
                />
                <span
                  class="font-color--blue font-size--small font-fam--caslon font-weight--400"
                  >Ver sugerencias</span
                >
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container detalles text-center my-5">
      <div class="row">
        <div class="col-12 text-center">
          <h2
            class="font-color--blue font-size--xlarge font-fam--sprited font-weight--400 custom-heading-sprited"
          >
            Ultimos
          </h2>
          <h2
            class="font-color--blue font-size--large font-fam--caslon font-weight--400 custom-heading-caslon"
          >
            Detalles
          </h2>
        </div>
        <div class="col-12">
          <h2
            class="font-color--blue font-size--small font-fam--caslon font-weight--400 mt-3"
          >
            REGLAS DEL EVENTO:
          </h2>
        </div>

        <div class="col-12">
          <ul>
            <li>
              ・Por temas de organización, agradecemos respetar la cantidad de
              espacios reservados.
            </li>
            <li>
              ・Al momento de la ceremonia, disfruta con nosotros y evita el
              abuso del celular, nuestros fotógrafos se encargaran de capturar
              cada momento especial.
            </li>
            <li>
              ・En nuestro día especial, queremos garantizar un ambiente
              familiar. Por favor, no ingreses bebidas alcohólicas.
            </li>
            <li>
              ・Puedes llevar un cambio de zapatos más cómodo a la hora del
              baile.
            </li>
            <li>
              ・Por último, disfruta al máximo este momento con nosotros, que
              hemos esperado con tanta ilusión y nos llena de alegría.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container text-center my-5">
      <div class="row">
        <div class="col-12">
          <h2
            class="font-color--blue font-size--small font-fam--caslon font-weight--400"
          >
            REGALOS:
          </h2>
        </div>
        <div class="col-12">
          <span
            class="font-color--light-blue font-size--small font-fam--monserrat font-weight--400"
            >Agradecemos tu presencia y buenos deseos, apreciamos sus muestras
            de cariño en <br />
            <b
              class="font-color--light-blue font-size--small font-fam--monserrat font-weight--600"
              >regalo de sobre.</b
            ></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
